@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    font-family: 'Quicksand', 'arial', sans-serif;
    margin: auto 3rem;
    font-weight: bolder;
    letter-spacing: 1pt;
}

nav {
    position: sticky;
    top: 0;
    background: rgba(255, 255, 255, 1) !important;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    border-bottom: 1px solid gray;
    /* margin-bottom: 2rem; */
    padding-right: 2rem;
}

nav ul li span {
    color: rgb(76, 117, 242);
}

#title {
    font-size: calc(2vw + 12px);
}

#credit {
    font-size: 1rem;
}

#credit a{
    color: gray;
}

.total-info {
    display: flex;
    justify-content: space-between;
    flex-basis: 25%;
    text-align: center;
}

.container {
    padding: 0.4rem 0.8rem;
    margin: auto 5px;
    width: 25%;
    transition: 0.2s all ease-in-out;
    margin-bottom: 5rem;
    border-radius: 5px;
}

.container-a {
    color: #ff073a;
}

.container-a:hover {
    background: rgba(255,7,58, 0.125);
}

.container-b {
    background: rgba(0,123,255, 0.125);
    color: #007bff;
}

.container-b:hover{
    background: rgba(0,123,255, 0.2);
}

.container-c {
    color: #28a745;
}

.container-c:hover {
    background: rgba(40,167,69, 0.125);
}

.container-d {
    color: #6c757d;
}

.container-d:hover {
    background: rgba(108,117,125, 0.125);
}
.col-title {
    display: flex;
    justify-content: space-around;
    text-align: left;
}

.states {
    display: flex;
    flex-direction: column;
    z-index: -1;
}

.state {
    display: flex;
    justify-content: space-around;    
}

.state > * {
    width: 24%;
}

.col {
    padding-right: 1rem;
}

.state:nth-child(even){
    background-color: rgba(108,117,125, 0.2);
}

.state-head {
    position: sticky;
    top: calc(2vw + 22px);
    background-color: black;
    color: wheat;
}

@media (max-width: 700px){
    body {
        margin: auto 1rem;
    }

    h2 {
        font-size: large;
    }
    
    #title {
        font-size: 3vw;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }

    .container {
        margin-bottom: 1rem;
    }

    .total-info {
        flex-wrap: wrap;
    }

    .container {
        flex-basis: 40%;
    }

    .state {
        font-size: 2.5vw;
    }
}

@media (max-width: 500px){
    .state {
        font-size: 3vw;
    }

    #title {
        font-size: 5vw;
    }
}